*, body, #main {
	height: 100%;
	width: 100%;
	margin: 0;
}

.main-content {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.header-area {
	height: 80px;
	width: 100%;
	background: #dddde333;
	color: #6e6d7a;
}

.content-area {
	height: max-content;
	width: 100%;
	background: #fff;
	color: #0d0c22;
}

.flex-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.select-box {
	width: 400px;
	height: 300px;
	margin: 30px;
	border-radius: 15px;
}

.img-area {
	 text-decoration: none;
	 color: #0d0c22;
}

.img-area:visited {
	color: #0d0c22;
}

.img {
	border-radius: 10px;
}

.icon-area {
	padding: 15px;
	font-weight: bold;
}

button {
	width: 100px;
	height: 50px;
}

.icon { 
	color: #fff;
}

.icon-angle {
	color: #262536d9;
}

.content-wrap {
	width: 100%;
	height: 750px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

#slide-area {
	width: 860px;
	height: 690px;
	border: 1px solid #dddde3;
}

.button-area {
	position: absolute;
	top: 87%;	
    width: 860px;
    height: 50px;
    background: #262536d9;
	padding: 9px 1px;
	text-align: center;
}

.angle {
	position: absolute;
	width: 120px;
	height: 120px;
	padding: 5px 8px;
}

.angle-left {
	top: 40%;	
	left: 21%;
}

.angle-right {
	top: 40%;
	right: 16%;
}

.hide {
	display: none;
}

@media screen and (max-width: 1023px) {
	.top-icon {
		background-color:#2262D1;
	}
}

@media screen and (max-width: 639px) {
	.top-icon {
		background-color:#f10010;
	}
}

@media screen and (width: 320px) {
	.top-icon {
		height: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -70%);
		background-color:#F9DF2C;
	}
}

