*, body, #main {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.main-content {
	position: relative;
	width: 100%;
	/* overflow-x: hidden; */
}

.header-area {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #dddde3a3;
	color: #6e6d7a;
}

.content-area {
	width: 100%;
	height: max-content;
	background: #fff;
	color: #0d0c22;
}

.flex-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.select-box {
	/* width: 400px;
	height: 300px;
	margin: 20px;
	border-radius: 15px; */
	width: 40%;
    height: 35%;
    margin: 15px;
}

.img-area {
	color: #0d0c22;
	text-decoration: none;
}

.img-area:visited {
	color: #0d0c22;
}

.img {
	border-radius: 10px;
}

.icon-area {
	padding: 15px;
	font-weight: bold;
}

.angle .icon { 
	margin: 0px 5px;
	color: #33333ccc;
	cursor: pointer;
	/* font-size: 3em; */
}

.content-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

#slide-area {
	display: flex;
	background:#FFF;
	overflow: auto;
	scroll-snap-type: x mandatory;
}

#slide-area::-webkit-scrollbar {
	display: none;
  }

.slideshow-area {
	width: 840px;
	height: 630px;
	scroll-snap-align: center;
}

.area {
	width: 100vw;
	height: 100vh;
	flex: none;
	scroll-snap-align:center;
	text-align: center;
}

.play-area {
	position: absolute;
    width: 840px;
    height: auto;
    top: 80%;
    /* border: 1px solid gray; */
}

.wrapp{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 0px 30%;
}

.angle {
	display: flex;
	width: auto;
	margin: 0px 5%;
}

#gain-value {
	display: none;
}

.range {
	width: 120px;
	margin: auto;
}

.volume-area {
	width: 170px;
}

/* .volume-icon {
	font-size: 30px;
} */

@media screen and (max-width: 1024px) {
	.slideshow-area {
		width: 960px;
		height: 720px;
	}

	.play-area {
		position: absolute;
		width: 70%;
		height: auto;
		top: 60%
	}
}

@media screen and (max-width: 896px) {

	.slideshow-area {
		width: 768px;
		height: 672px;
	}

	.play-area {
		width: 70%;
		top: 55%;
	}

	.range {
		width: 100px;
	}
}

@media screen and (max-width: 768px) {
	.slideshow-area {
		width: 728px;
		height: 672px;
	}

	.play-area {
		width: 70%;
		top: 65%;
	}

	.range {
		width: 100px;
	}
}

@media screen and (max-width: 540px) {

	.slideshow-area {
		width: 500px;
		height: 375px;
	}

	.play-area {
		width: 70%;
		top: 65%;
	}

	.range {
		width: 100px;
	}
}

@media screen and (max-width: 414px) {
	.slideshow-area {
		width: 360px;
		height: 270px;
	}

	.play-area {
		width: 70%;
		top: 50%;
	}

	.range {
		width: 70px;
	}
	
}

@media screen and (max-width: 325px) {
	.slideshow-area {
		width: 300px;
		height: 225px;
	}

	.play-area {
		width: 70%;
		top: 40%;
	}

	.range {
		width: 70px;
	}
	
}
