*, body, #main {
	width: 100%;
	height: 100%;
	margin: 0;
}

.main-content {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.header-area {
	width: 100%;
	height: 80px;
	background: #dddde333;
	color: #6e6d7a;
}

.content-area {
	width: 100%;
	height: max-content;
	background: #fff;
	color: #0d0c22;
}

.flex-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.select-box {
	width: 400px;
	height: 300px;
	margin: 30px;
	border-radius: 15px;
}

.img-area {
	color: #0d0c22;
	text-decoration: none;
}

.img-area:visited {
	color: #0d0c22;
}

.img {
	border-radius: 10px;
}

.icon-area {
	padding: 15px;
	font-weight: bold;
}

.angle .icon { 
	margin: 0px 5px;
	color: #33333ccc;
	cursor: pointer;
	font-size: 5em;
}

.content-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

#slide-area {
	display: flex;
	/* border: 1px solid #dddde3; */
	overflow: auto;
	scroll-snap-type: x mandatory;
}

#slide-area::-webkit-scrollbar {
	display: none;
  }

.slideshow-area {
	width: 840px;
	height: 630px;
	scroll-snap-align: center;
}

.area {
	width: 100vw;
	height: 100vh;
	flex: none;
	scroll-snap-align:center;
	text-align: center;
}

.play-area {
	position: absolute;
    width: 840px;
    height: auto;
    top: 70%;
    /* border: 1px solid gray; */
}

.wrapp{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 0px 30%;
}

.angle {
	display: flex;
	width: auto;
	margin: 0px 5%;
}

#gain-value {
	display: none;
}

.range {
	width: 120px;
	margin: auto;
}

.volume-area {
	width: 170px;
}

.volume-icon {
	font-size: 30px;
}

@media screen and (max-height: 1366px) {
	#slide-area {
		margin-top: 15%;
	}

	.play-area {
		width: 768px;
		top: 52%;
	}

	.angle .icon {
		font-size: 50px;
	}
}

@media screen and (max-height: 896px) {
	.header-area {
		height: 50px;
	}

	.slideshow-area {
		width: 400px;
		height: 300px;
	}

	.play-area {
		width: 375px;
		top: 50%;
	}

	.angle .icon {
		font-size: 20px;
	}

	.range {
		width: 100px;
	}
}

@media screen and (max-height: 568px) {
	.slideshow-area {
		width: 280px;
		height: 210px;
	}

	.play-area {
		width: 375px;
		top: 45%;
	}

	.angle .icon {
		font-size: 20px;
	}

	.range {
		width: 70px;
	}
	
}

